@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* nav container  */
.header-sec {
    max-width: 1170px;
    margin: 30px auto;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-container img {
    width: 48px;
    height: 56px;
}

.nav-container span {
    color: #FF5400;
}

.nav-container p {
    font-size: 36px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 44px;
}

nav li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    color: #424247;
}

nav li a {
    text-decoration: none;
}

nav li a span {
    color: #FF5400;
}

/* explore section  */
.sec-1 {
    max-width: 1170px;
    height: 500px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    margin: 30px auto;
    border-radius: 16px;
}

.exp-container h1 {
    font-size: 64px;
    font-weight: 800;
    color: white;
    text-align: center;
}

.exp-container p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 24px;
}

.exp-container {
    padding: 106px;
}

.button-sec {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px 84px 16px 16px;
}

button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px 84px 16px 16px;
    background: #FF5400;
}

.exp-button a {
    text-decoration: none;

}

.exp-button {
    text-align: center;
    margin-top: -76px;
}

/* our populor tour  */

.popular-sec {
    display: flex;
    max-width: 1170px;
    margin: 20px auto;
    gap: 50px;
}

.img-container {
    max-width: 540px;
    height: 550px;
    margin-top: 20px;
}

.text-container h2 {
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
    color: #131318;
}

.text-container h3 {
    font-size: 16px;
    font-weight: 400;
    width: 577px;
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.70);

}

.text-container ul>li {
    font-size: 16px;
    font-family: 400px;
    width: 525px;
    height: 52px;
    color: rgba(19, 19, 24, 0.70);
}

.text-container p {
    font-size: 16px;
    font-weight: 400px;
    width: 530px;
    height: 52px;
    margin: 24px;
    color: rgba(19, 19, 24, 0.70);
}

.text-container button {
    margin-top: 46px;
}

/* choose your destination  */
/* shared style start  */
.banner {
    text-align: center;
    margin: 50px auto;
    max-width: 1170px;

}

.banner-title {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    max-width: 478px;
    height: 50px;
    margin: 0 auto;

}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    max-width: 643px;
    height: 52px;
    color: rgba(19, 19, 24, 0.70);
    margin: 24px auto;
}

/* shared style end  */
/* fast 2 ta image  */
.fast-img {
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
}

.sec-img {
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
}

.banner-img {
    display: flex;
    max-width: 1170px;
    margin: 40px auto;
    gap: 20px;
}

.fast-img h3 {
    text-align: center;
    padding-top: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.sec-img h3 {
    text-align: center;
    padding-top: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* mid line 3 img  */
.banner2-img {
    display: flex;
    gap: 20px;
    max-width: 1170px;
    margin: 24px auto;
}

.third-img {
    background-image: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
}

.third-img h3 {
    text-align: center;
    padding-top: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.fourth-img {
    background-image: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
}

.fourth-img h3 {
    text-align: center;
    padding-top: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.fifth-img {
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
}

.fifth-img h3 {
    text-align: center;
    padding-top: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* last 2 ta image  */
.banner3-img {
    display: flex;
    gap: 20px;
    max-width: 1170px;
    margin: 10px auto;
}

.sixth-img {
    background-image: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
}

.sixth-img h3 {
    text-align: center;
    padding-top: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.seven-img {
    background-image: url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
}

.seven-img h3 {
    text-align: center;
    padding-top: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* hotel card style  */
.hotel-card {
    max-width: 1170px;
    margin: 50px auto;
    display: flex;
    gap: 20px;
}

.fast-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.fast-card img{
    padding-left: 32px;
    padding-top: 32px;
}
.sec-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.sec-card img{
    padding-left: 32px;
    padding-top: 32px;
}
.third-card {
    margin: 20px auto;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.third-card img{
    padding-left: 32px;
    padding-top: 32px;
}

.hotel-title {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-top: 22px;
    padding-left: 32px;
}

.hotel-description {
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    padding-left: 32px;
}
/* hotel card sec end  */


/* simple card sec  */
.img-container{

    background-image: url(../Images/Group\ 40089.png);
    background-repeat: no-repeat;
    width: 610px;
    height: 424px;
    border-radius: 16px;
}
.simple-place{
    max-width: 1170px;
    margin: 50px auto;
    display: flex;
    gap: 42px;
}
.text-container h2{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    
    
}
.text-container p{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    margin-top: 24px;
}
.text-container ul li{
    font-size: 16px;
    font-weight: 700;
    color: #131318;
    margin-top: 10px;
}
.text-container button{
    margin-top: 32px;
}
.img-container h3{
    text-align: center;
    padding-top: 176px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}
.img-container{ 
    position: relative;
}

.img-container audio{
    width: 500px;
    outline: none;
    padding-top: 75px;
    padding-left: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #424247;
}